#main-content {
    margin: 0 auto 20px;
    background-color: #fff;
}
.navbar {
    margin-bottom: 0;
}
.nav-jumbotron {
    margin-bottom: 0;
    background: url(/img/bg.jpg);
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    color: white;
}
.transparent {
    background: rgba(0,0,0,0.5);
    background-size: cover;
    padding: 22px 60px 30px 60px;
}
.badge-link {
    margin-top: 26px;
    color: #fff;
}
.quote-board {
    border: 1px solid #eee;
}
.quote-board .row {
    border-bottom:1px solid #eee;
}

.table th.number, .table td.number {
    text-align: right;
}
.table td.trade-buttons {
    text-align: center;
}
.table tfoot {
    font-weight: bold;
}
.form-select option {
    height: 30px;
    line-height: 30px;
}
.quote-jumbotron {
    max-width: 100%;
    max-height: 100%;
    padding-top: 5px;
    padding-bottom: 4px;
    color: #fff;
    background: #32c5d2;
}
.quote-table {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
}